/* RequestTour.css */
.form-group {
  margin-bottom: 15px;
  /* Add spacing between labels */
  margin-left: 75px;
}

.form-group label {
  font-weight: bold;
  color: black;
  padding-right: 20;
}

.thank-you-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.title {
  text-align: center;

}